<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.clover">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/LightTheme2">
      
        <activity android:name=".activities.ProfileNameDialog"></activity>
        <activity
            android:name=".activities.ProfileProgress"
            android:parentActivityName=".activities.Profile"
            android:theme="@style/AppTheme.PopMe" />
        <activity android:name=".activities.SpellingResults" />
        <activity
            android:name=".activities.VoiceResults"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".activities.Settings" />
        <activity
            android:name=".activities.Profile"
            android:theme="@style/ProfileTheme" />

        <activity
            android:name=".activities.Library"
            android:launchMode="singleTop"
            android:theme="@style/LightTheme2"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".activities.LibraryEditCard"
            android:parentActivityName=".activities.Library"
            android:theme="@style/AppTheme.PopMe" />
        <activity
            android:name=".activities.LibraryPopActivity"
            android:theme="@style/AppTheme.PopMe" />

        <activity android:name=".activities.Register" />
        <activity android:name=".activities.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.MainActivity"/>
        <activity android:name=".activities.Voice"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.Spelling"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/LightTheme2"/>

        <activity android:name=".activities.Camera">
            <meta-data
                android:name="com.google.firebase.ml.vision.DEPENDENCIES"
                android:value="ocr" />
        </activity>

    </application>

</manifest>